<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AutoCom</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>

    <link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>

    <link rel="stylesheet" href="http://dobtco.github.io/jquery-resizable-columns/dist/jquery.resizableColumns.css">
    <script src="http://dobtco.github.io/jquery-resizable-columns/dist/jquery.resizableColumns.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>

    <style>
        body {
            font-size: 14px !important;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav nav-tabs" id="main-nav" role="tablist">
            <a class="nav-item nav-link active" id="nav-port-tab" data-toggle="tab" href="#nav-port" role="tab">Cổng</a>
            <a class="nav-item nav-link" id="nav-message-tab" data-toggle="tab" href="#nav-message" role="tab">Tin
                nhắn</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-port" role="tabpanel" aria-labelledby="nav-port-tab">
            <table id="PORT_TABLE" class="table table-bordered table-hover"
                style="border: 1px solid; margin-top: 1px; text-align: center;" data-toggle="table"
                data-click-to-select="true">
                <thead>
                    <tr>
                        <th data-checkbox="true"></th>
                        <th data-sortable="true" data-field="comName">Tên cổng</th>
                        <th data-sortable="true" data-field="numod">Vị trí</th>
                        <th data-sortable="true" data-field="imei">IMEI</th>
                        <th data-sortable="true" data-field="iccid">ICCID</th>
                        <th data-sortable="true" data-field="operator">Nhà mạng</th>
                        <th data-sortable="true" data-field="msisdn">Số thuê bao</th>
                        <th data-sortable="true" data-field="balance">Số dư</th>
                        <th data-sortable="true" data-field="smsCount">Số tin nhắn</th>
                        <th data-sortable="true" data-field="signal">Tín hiệu</th>
                        <th data-sortable="true" data-field="status">Status</th>
                        <th data-sortable="true" data-field="state">State</th>
                        <th data-field="statement">Statement</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="contextMenu" class="context-menu">
            <ul>
                <li class="menu-item" id="refresh">Làm mới</li>
                <!-- <li class="menu-item" id="get-phone">Lấy số điện thoại</li>
                <li class="menu-item" id="get-balance">Lấy số dư</li> -->
            </ul>
        </div>

        <div id="contextMenu2" class="context-menu">
            <ul>
                <li class="menu-item" id="refresh">Làm mới cổng đã chọn</li>
                <!-- <li class="menu-item" id="get-phone">Lấy số điện thoại cổng đã chọn</li>
                <li class="menu-item" id="get-balance">Lấy số dư cổng đã chọn</li> -->
            </ul>
        </div>
        <div class="tab-pane fade" id="nav-message" role="tabpanel" aria-labelledby="nav-message-tab">
            <table id="MESSAGE_TABLE" class="table table-bordered table-hover"
                style="border: 1px solid; margin-top: 1px; text-align: center;" data-toggle="table"
                data-click-to-select="true">
                <thead>
                    <tr>
                        <th data-field="comName">Tên cổng</th>
                        <th data-field="receiver">Số nhận</th>
                        <th data-field="sender">Số gửi</th>
                        <th data-field="otp">Mã OTP</th>
                        <th data-field="message">Tin nhắn</th>
                        <th data-field="dateTime">Thời gian</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">.ff..</div>
    </div>
</body>

<script src="../../assets/js/main.js"></script>
<script>
    const socket = io("http://localhost:3000")
    const communicate = (socket, payload) => {
        socket.emit("communicate", payload)
    }
    $(document).ready(() => {
        let PORT_TABLE = $("#PORT_TABLE")
        socket.on("onLoadPort", (ports) => {
            // console.log(ports)
            PORT_TABLE.bootstrapTable("load", ports)
        })
        let MESSAGE_TABLE = $("#MESSAGE_TABLE")
        socket.on("onNewMessage", (message) => {
            MESSAGE_TABLE.bootstrapTable("append", message)
        })
        socket.on("onVersionUpdate", (payload) => {
            alert(payload.message)
        })
    });
</script>

</html>